<section id="good_engineering">
	<div class="banner2">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>Good Engineering</h1>
				</div>
			</div>
		</div>
	</div>
{% for post in site.posts %}
  {% if post.category == 'good engineering' %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
      {% include post_left.html %}
    {% else %}
      {% include post_right.html %}
    {% endif %}
  {% endif %}
{% endfor %}
</section>